<header class="header">
  <div class="header__content">
    <a href="#" class="logo"> SLC </a>
    <nav class="nav" [class.nav--open]="isNavOpen">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">About us</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Contact us</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">FAQ</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link"
            ><span class="material-symbols-outlined"> call </span></a
          >
        </li>
      </ul>
    </nav>
    <div
      class="hamburger"
      [class.hamburger--open]="isNavOpen"
      (click)="toggleNav()"
    >
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</header>

<main>
  
<div
style="width: 100%;  display: inline-flex; padding-top: 30px"
>
<div>
  <div class="left-side-div">
    <h1 class="h1-blue">Starlight Creations</h1>
    <h2 class="header-2">Full Service Distributors in Central Florida</h2>
    <p class="main-text">
      Your Trusted Partner in Distribution: Delivering Quality
      Over-the-Counter Pharmaceutical Products, General Merchandise, Sundries,
      and Convenience Groceries with Exceptional Service and Reliability.
    </p>

    <button (click)="call_us()" class="call-us">
      <div class="element">407-677-0812</div>
    </button>
    <button (click)="call_us()" class="contact-us">
      <div class="element">Contact Us</div>
    </button>
  </div>
  <div class="left-side-div icons-div">
    <div class="container">
      <div class="item">
        <div class="square">
          <img
            src="../assets/reliableicon.png"
            style="height: 150px; width: 150px"
          />
        </div>
        <p class="caption">Reliable</p>
      </div>
      <div class="item">
        <div class="square">
          <img
            src="../assets/ontimeicon.png"
            style="height: 150px; width: 150px"
          />
        </div>
        <p class="caption">On-time</p>
      </div>
      <div class="item">
        <div class="square">
          <img
            src="../assets/highqual.png"
            style="height: 150px; width: 150px"
          />
        </div>
        <p class="caption">High Quality</p>
      </div>
    </div>
  </div>
</div>

<div
  class="image-container"
  style="width: 50%; height: 600px; border: 1px solid yellow"
>
  b
</div>
</div>

</main>
<footer class="footer">
  <a href="#" class="footer-link">Legal</a>
  <a href="#" class="footer-link">Privacy</a>
</footer>

